
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
h1 {
    margin-top: 40px;
  font-family: 'Poppins', sans-serif;
}

h2{
    font-family:'Poppins', sans-serif;

}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-align: justify;
}

p.text{
    color: #34658d;
    font-family:'Poppins', sans-serif;
}
.prediction{
    position: initial;
}
.blue-bg {
  position: fixed;
  background: url(../images/spider.jpg);
  background-size: cover;
  background-color: #4186bf;
  background-position-y: 350%;
  top: 0;
  height: 600px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.white-bg {
    position: absolute;
    top: 0;
    background: linear-gradient(360deg, white 0 92%, transparent 102%);    
    margin: 270px 0px;
    width: 100vw;   
    height: 100vh;
    transform: skewY(5deg);
    z-index: -1;
  }
  
  .shadow {
    box-shadow: -2px -5px 5px 0px rgba(0, 0, 0, 0.3);
  }

.content {
  position: absolute;
  top: 0;
  margin: 250px 10vw;
  max-width: 60vw;
  background-color: transparent;
}

.summary{
    margin-top: 70px;
    width: 100%;
}

nav ul {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    padding: 0;
    text-decoration: dashed;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ff8c00;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #121111;
}

.select{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    background-color: #ffffff;
    color: #ff9900;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

input[type=file]::file-selector-button {
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    background: #ff8c00;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover {
    background: #121111;
}

.card{
    position: relative;
    width: 400px;
    height: 190px;
    background: #ff8c00;
    color: #121111;
    transition: 0.5s;
    margin-top: 80px;
}

.card:hover{
    height: 450px;
    background: #121111;
}

.card .lines{
    position: absolute;
    inset: 0;
    background: #121111;
    overflow: hidden;
}

.card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 120px;
    background: linear-gradient(transparent, #16517e, #ff8c00 , #ff8c00, transparent);
    animation: animate 4s linear infinite;
}


@keyframes animate{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #faf7f7;
}

.card .imgBX{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    background-color: #121111;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.card:hover .imgBX {
    width: 250px;
    height: 250px;
}

.card .imgBX::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%,-50%);
    background: linear-gradient(transparent, #ff8c00, #ff8c00 , #ff8c00, transparent);
    animation: animate2 6s linear infinite;
}

@keyframes animate2{
    0%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
}

.card .imgBX::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: white ;
}

.card .imgBX img{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.card .card_content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .card_content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(178px);
}

.card:hover .card_content .details{
    transform: translateY(0px);
}

.card .card_content .details h2{
    margin-top: 20px;
    font-size: 1.75em;
    font-weight: bold;

    color: #e17c00;
    line-height: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.card .card_content .detail .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .card_content .details h3{
    font-size: 1em;
    font-weight: 600px; 
    color: #121111;
    line-height: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}