{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Clasificador de Invertebrados</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <header>
            <div class="blue-bg"></div>
            <div class="white-bg shadow"></div>
            <div class="content">
            <nav>
                <ul><br><br>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/about">Acerca del proceso</a></li>
                </ul>
            </nav>
            <div class="summary">
                <h1>Como funciona?</h1>
                <p> Es simple. Solo tienes que cargar una imagen de un animal invertebrado desde 
                    tu dispositivo y el sistema procesara la imagen utilizando una potente <b>Red Neuronal 
                    Convolucional (CNN)</b>.<br><br>

                    Una vez que hayas subido la imagen, nuestro sistema analizara sus caracteristicas y la 
                    clasificara en uno de los cuatro grupos taxonomicos: <br><br>
                    - <b>ciempies</b>,  <b>aracnido</b>, <b>insecto</b>  o <b>crustaceo</b><br><br> 
                </p>     
                </div>
            </div>

        </header>
 </body>
</html>