{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Clasificador de Invertebrados</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <header>
            <div class="blue-bg"></div>
            <div class="white-bg shadow"></div>
            <div class="content">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/about">Acerca del proceso</a></li>
                </ul>
            </nav>
            <div class="summary">
                <h1>Hola Mundo</h1>
                <p>asdsasadasdasui uadshiusahduaisdhasiuhd  dahasidhasduhasidhasid dasdasd  adhuiashiudasd  
                    dahsdhauisd  ahdsadhuiashduaisdhuias  dhaiudhuasdhuiashduiashduiashdddasd  dasdashda
                </p>        
                </div>
            </div>

        </header>
 </body>
</html>