{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Clasificador de Invertebrados</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <header>
            <div class="blue-bg"></div>
            <div class="white-bg shadow"></div>
            <div class="content">
                <nav>
                    <ul>
                        <br><br>
                        <li><a href="">Inicio</a></li>
                        <li><a href="/about">Acerca del proceso</a></li>
                    </ul>
                </nav>

                
                <div class="summary">
                        
                    <h1><b>Bienvenido a nuestro sistema de reconocimiento de animales invertebrados!</b><br></h1>
        
                    <p>Nuestro sistema es una herramienta interactiva basada en aprendizaje profundo que te 
                        permitira identificar y clasificar imagenes de diversos animales invertebrados. <br><br>
                            
                        El sistema es capaz de reconocer y clasificar imagenes de animales 
                        invertebrados en cuatro categorias principales: <b>ciempies</b>, 
                        <b>aracnido</b>,  <b>insecto</b> o <b>crustaceo</b>.
                        <p class="text">Explora nuestro sistema y disfruta de la experiencia de descubrir y 
                        clasificar animales invertebrados de una manera totalmente nueva!</p>
                </div>  
                <div class="container1">
                    <form method = "POST" action="save_image/" enctype="multipart/form-data">
                       {% csrf_token %}
                        <input  type="file" name="imagep">
                        <button class="custom-button" type="submit">Predecir</button>
                    </form>
                </div>
            
        </header>
        
    </body>
</html>